<div id="video-play" class="easyui-navpanel" data-option="maximized:true">
    <header>
        <div class="m-toolbar">
            <div class="m-title">视频播放</div>
            <div class="m-left"><button class="easyui-linkbutton m-back" data-options="onClick:e=>N.runModule('myVideo','ClosePlay')">返回</button>
            </div>
            <div class="m-right">
                <button class="easyui-linkbutton" onclick="N.runModule('myVideo','exportJSON')" data-options="iconCls:'icon-redo'">导出数据</button>
            </div>
        </div> 
    </header>
    <div class="panel-loading">Loading...</div>
</div>