<div id="video-main" class="full-page div-page">
    <header class="div-header" style="height:42px;">
        <div class="left">
            <button class="btn-flex btn-back" data-method="back" type="button"><span>返回</span></button>
        </div>
        <div class="center">视频列表</div>
        <div class="right">
            <button class="btn-flex btn-drop" type="button"><span>管理</span></button>
            <ul class="submenu">
                <li data-method="import" data-mode="0">
                    <p><img src="./assets/images/db-cover.png"></p>
                    <p>覆盖数据库</p>
                </li>
                <li data-method="import" data-mode="1">
                    <p><img src="./assets/images/db-update.png"></p>
                    <p>追加数据库</p>
                </li>
                <li data-method="export">
                    <p><img src="./assets/images/db-share.svg"></p>
                    <p>分享数据库</p>
                </li>
                <li data-method="netdisk">
                    <p><img src="./assets/images/db-netdisk.png"></p>
                    <p>网盘资源</p>
                </li>
                <li data-method="caiji">
                    <p><img src="./assets/images/db-caiji.svg"></p>
                    <p>采集资源</p>
                </li>
                <li data-method="clear">
                    <p><img src="./assets/images/db-clear.png"></p>
                    <p>清空数据</p>
                </li>
            </ul>
        </div>
    </header>
    <main>请稍等</main>
    <footer>请稍等</footer>
</div>