<div id="video-main" class="easyui-navpanel" data-option="maximized:true">
    <header>
        <div class="m-toolbar">
            <div class="m-title">视频观看</div>
            <div class="m-left"><button class="easyui-linkbutton m-back" data-options="onClick:()=>N.runModule('myVideo','closeVideo')">返回</button>
            </div>
            <div class="m-right">
                <button class="easyui-menubutton" id="video-import" data-options="menu:'#video-menu-list',iconCls:'icon-save'">管理</button>
            </div>
        </div>
    </header>
    <div class="panel-loading">Loading...</div>
    <footer style="padding-bottom: 40px;">
        <p>请稍等</p>
    </footer>
</div>
<div id="video-menu-list"  class="easyui-menu" data-options="onClick:e=>N.runModule('myVideo','ManageEvent',e)" style="width:150px;">   
    <div data-options="iconCls:'icon-undo',method:'import',mode:0">覆盖数据库</div>  
    <div data-options="iconCls:'icon-undo',method:'import',mode:1">追加数据库</div>   
    <div data-options="iconCls:'icon-redo',method:'export'">分享数据库</div>
    <div data-options="iconCls:'icon-remove',method:'clear'">清空数据库</div>
    <div data-options="iconCls:'icon-remove',method:'netdisk'">网盘资源</div>
    <div data-options="iconCls:'icon-remove',method:'caiji'">采集资源</div>
</div>