<div id="video-netdisk" class="full-page div-page hide">
    <header class="div-header" style="height:42px;">
        <div class="left">
            <button class="btn-flex btn-back" type="button" data-method="back"><span>返回</span></button>
        </div>
        <div class="center">网络资源</div>
    </header>
    <main>
        <h3>网盘资源</h3>
        <p><a href="https://nenge.lanzouv.com/b02fxgjgh" target="_blank">https://nenge.lanzouv.com/b02fxgjgh</a></p>
        <p>密码:0000</p>
    </main>
</div>